@font-face {
    src: url("Corleone.ttf");
    font-family: Godfather;
  }

body {
    margin:0 0;
    font-family: Godfather;
    text-align:center;
}

#header {
    background: black;
    background-size: cover;
    height: 200px;
}

#title-quote {
    padding-top: 150px;
    color: white;

}

#hero {
    padding-top: 50px;
    display:flex;
    justify-content:center;
    background: linear-gradient(black,white);
}

#sidebar {
    margin: 0 30px;
}

#blank {
    margin: 0 30px;
}